<!DOCTYPE html>
<head>
    <title>ECE1779 Assignment Three</title>
    <link rel="stylesheet" type="text/css" href='https://statis-store-a3.s3.amazonaws.com/core-style.css' />
</head>
<html>
    <body>
        {% include "sidebar.html" %}
            <div class="home">
            <h1>
                ECE 1779: Assignment Three
            </h1>
            <h1>
                Manager Application
            </h1>
            <img src="https://statis-store-a3.s3.amazonaws.com/model.gif" class="model">
        </div>
    <body>    
</html>