<!doctype html>
<html>
    <head>
        <title>ECE1779 Assignment Two</title>
	    <link rel="stylesheet" type="text/css" href='https://statis-store-a3.s3.amazonaws.com/core-style.css' />
    </head>
    <body>
	    {% include "sidebar.html" %}
        <div class="image-bg">
        <div class="modal">
        {% if image_list is defined %}
	        <table>
            <caption><h1>List of Images Stored</h1></caption>
            <tr><th>Index</th><th>Image Id</th><th>Predicted Label</th><th>Actual Label</th></tr>
	        {% for image in image_list %}
                <tr>
                    <td style="font-weight:600">{{ image['key'] }}</td>
                    <td>{{ image['index'] }}</td>
                    <td>{{ image['predicted_label'] }}</td>
                    <td>{{ image['label'] }}</td>
                </tr>
            {% endfor %}
            </table>
        {% else %}
            <h3>There are no keys stored</h3>
        {% endif %}
    </div>
    </body>
</html>
