<!DOCTYPE html>
<head>
    <title>ECE1779 Assignment Three</title>
    <link rel="stylesheet" type="text/css" href='https://statis-store-a3.s3.amazonaws.com/core-style.css' />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/4.1.0/echarts-en.common.min.js"></script>
</head>
<html>
    <body>
        {% include "sidebar.html" %}
        <div class="image-bg">
            <div class="home" style="width: 800px;">
                <form
                    method="post"
                    enctype=multipart/form-data>
                <h1 class="header">
                    System Manager Settings Panel
                </h1>
                    <div class="div-row" style="justify-content: space-between; padding-top: 20px;">
                        <div>
                            <div class="dashboard-modal">
                                <h2>Clear Data</h2>
                                <label style="font-style: italic;">Clear all user supplied data in S3 & DynamoDB</label>
                                <input type=submit value="Clear" name="clear_data" class="submit-button">
                            </div>
                            <div class="dashboard-modal" style="margin-top: 30px;">
                                <h2>Train Model</h2>
                                {% if isTraining %}
                                    <img src="https://statis-store-a3.s3.amazonaws.com/loading.gif" class="icon" style="width:105px">
                                    <h3  style="font-style: italic;">Training Currently in Progress</h3>
                                {% else %}
                                    <label style="font-style: italic;">Train model with new labelled images</label><br/>
                                    <input type=submit value="Train" name="train_model" class="submit-button">
                                {% endif %}
                            </div>
                        </div>
                        <div class="dashboard-modal" style="width:350px; height: 375px">
                            <h2>System Metrics</h2>
                            <label style="font-style: italic;">Metrics about current images, labelling and model performance</label>
                            <div id="trainMetrics" style="width: 250px;height:300px;"></div>    
                        </div>
                    </div>
                    <div class="dashboard-modal" style="width:325px; margin-top: 15px">
                        <h2>Model Statistics</h2>
                        <label style="font-style: italic;">Model Type: VGG</label>
                        <label style="font-style: italic;">Optimizer: Adam</label>
                        <label style="font-style: italic;">Loss Function: Categorical Crossentropy</label>
                        <label style="font-style: italic;">Accuracy: {{ accuracy }}</label>
                        <label style="font-style: italic;">Loss: {{ loss }}</label>
                    </div>
                </form>
            </div>
        </div>

        <script>
            var myChart = echarts.init(document.getElementById('trainMetrics'));
            var train_metrics = JSON.parse('{{ train_metrics | tojson | safe}}')
            var label_metrics = JSON.parse('{{ label_metrics | tojson | safe}}')
            
            var option = {
                tooltip: {
                    trigger: 'item'
                },
                series: [
                    {
                    name: 'Trained vs Untrained',
                    type: 'pie',
                    radius: ['0%', '40%'],
                    color: [ '#0f84bf', '#1a8f31'],
                    avoidLabelOverlap: false,
                    x: '20%',
                    width: '40%',
                    funnelAlign: 'right',
                    itemStyle: {
                        borderRadius: 10,
                        borderColor: '#fff',
                        borderWidth: 2
                    },
                    label: {
                        show: false,
                        position: 'center'
                    },
                    labelLine: {
                        show: false
                    },
                    data: train_metrics
                    },
                    {
                    name: 'Trained vs Untrained 2',
                    type: 'pie',
                    x: '40%',
                    width: '35%',
                    funnelAlign: 'left',
                    radius: ['50%', '80%'],
                    color: [ '#152157', '#9aaab3', '#0c6306', '#8a0808'],
                    avoidLabelOverlap: false,
                    itemStyle: {
                        borderRadius: 10,
                        borderColor: '#fff',
                        borderWidth: 2
                    },
                    label: {
                        show: false,
                        position: 'center'
                    },
                    labelLine: {
                        show: false
                    },
                    data: label_metrics
                    }
                ]};
      
            // Display the chart using the configuration items and data just specified.
            myChart.setOption(option);
        </script>
    <body>    
</html>