<div class="sidebar">
    <a href="/dev">
        <div class="tooltip">
        <button type="submit" class="icon-button">
            <img src="https://statis-store-a3.s3.amazonaws.com/home.svg" class="icon">
        </button>
        <span class="tooltiptext">Home</span>
        </div>
    </a>
    <a href="/dev/label_image">
        <div class="tooltip">
        <button type="submit" class="icon-button">
            <img src="https://statis-store-a3.s3.amazonaws.com/match.svg" class="icon" style="width:65px">
        </button>
        <span class="tooltiptext">Label Image</span>
        </div>
    </a>
    <a href="/dev/show_category">
        <div class="tooltip">
        <button type="submit" class="icon-button">
            <img src="https://statis-store-a3.s3.amazonaws.com/search_category.svg" class="icon" style="width:65px">
        </button>
        <span class="tooltiptext">Show Images By Category</span>
        </div>
    </a>
    <a href="/dev/list_images">
        <div class="tooltip">
        <button type="submit" class="icon-button">
            <img src="https://statis-store-a3.s3.amazonaws.com/list.svg" class="icon">
        </button>
        <span class="tooltiptext">List Images</span>
        </div>
    </a>
    <a href="/dev/settings">
        <div class="tooltip">
        <button type="submit" class="icon-button">
            <img src="https://statis-store-a3.s3.amazonaws.com/settings.svg" class="icon" style="width:65px">
        </button>
        <span class="tooltiptext">Manager Settings</span>
        </div>
    </a>
</div>